/* -------footer CSS */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  color: $primary-color;
  background-color: $footer-bg-color;
  text-align: center;
}

// .footer__container {
//   display: flex;
//   align-items: baseline;
// }

.footer__info {
  margin-bottom: 60px;
}

.footer__logo {
  @include link(inline-block);
  margin-bottom: 20px;
  color: inherit;
}

.footer__social {
  margin-bottom: 60px;
  // margin-left: 70px;
}

.footer__title {
  margin-bottom: 20px;
}

.footer .social-list {
  justify-content: center;
}

.footer .social-list__link {
  color: inherit;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms $primary-cubic-bezier;
  &:hover,
  &:focus {
    background-color: $activated-color;
    border-radius: 50%;
  }
}

// .footer__newsletter {
//   margin-left: auto;
// }
