/* секция галлерея */

.gallery {
  @include max-media($desktop) {
    display: none;
  }

  @include min-media($desktop) {
    padding-top: 0;
  }
}

.gallery__title {
  @include min-media($desktop) {
    margin-bottom: 50px;
  }
}

.gallery__list {
  @include min-media($desktop) {
    @include list(flex);
  }
}

.gallery__item {
  @include min-media($desktop) {
    position: relative;

    &:not(:first-child) {
      margin-left: 30px;
    }
  }
}

.gallery__text {
  @include min-media($desktop) {
    position: absolute;
    left: 0;
    bottom: 0;
    @include flex-position();
    width: 100%;
    height: 70px;
    color: $primary-color;
    background-color: rgba(47, 48, 58, 0.8);
  }
}
