/* -------header CSS */
.header {
  // position: relative;
  min-width: $min-width;
  border-bottom: 1px solid #ececec;
}

.header__container {
  position: relative;
  //   display: flex;
  //   align-items: center;
  //   justify-content: space-between;
}

.header__menu {
  position: absolute;
  top: 30px;
  right: 35px;
  z-index: 1;
  width: 100%;
  height: 100vh;
  padding: 48px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $primary-color;

  transform-origin: top right;
  transform: scale(0) translate(0, 0);

  transition: transform 500ms $primary-cubic-bezier;
  &.is-open {
    transform: scale(1) translate(35px, -30px);
  }

  & .social-list {
    flex-wrap: wrap;
  }

  & .social-list__item {
    &:not(:last-child) {
      padding-right: 10px;
      border-right: 1px solid rgba(33, 33, 33, 0.2);
    }
  }
  & .social-list__link {
    display: inline-block;
    width: auto;
    height: auto;
    border-radius: 0;
    @include font(18px, 22px, 0.02em, 500);
    color: $activated-color;
  }
}

.header__btn-menu {
  position: absolute;
  right: 15px;
  top: 10px;
  z-index: 2;
  @include flex-position();
  color: $title-text-color;
  border: none;
  background-color: transparent;
}

.header__icon-btn {
  fill: currentColor;
  transition: color 250ms $primary-cubic-bezier;

  .header__btn-menu:hover &,
  .header__btn-menu:focus & {
    color: $activated-color;
  }

  &--close {
    opacity: 0;
    transition: opacity 250ms $primary-cubic-bezier;

    .header__btn-menu.is-open & {
      opacity: 1;
    }
  }

  &--menu {
    opacity: 1;
    transition: opacity 250ms $primary-cubic-bezier;
    .header__btn-menu.is-open & {
      opacity: 0;
    }
  }
}

/* логотип в header*/
.header__logo {
  @include link(inline-block, 16px);
  color: $title-text-color;
}

.header__list {
  @include list(flex);
  flex-direction: column-reverse;
  margin-bottom: 64px;
  //   @extend %header-list;
  //   margin-left: auto;
}

.header__item {
  @include font(24px, 28px, 0.02em, 500);

  &:last-child {
    @include font(34px, 40px, 0.02em, 500);
    margin-bottom: 32px;
    color: $activated-color;
  }
}
// .header__item:not(:first-child) {
//   margin-left: 50px;
// }

.header__link {
  // @include font(40px, 47px, 0.02em, 500);
  @include link(inline-block);
  color: inherit;
  //   @extend %header-link;
  //   display: flex;
  //   align-items: center;
  //   color: $general-text-color;
  transition: color 250ms $primary-cubic-bezier;
  &:hover,
  &:focus {
    color: $activated-color;
  }
}

.header__icon {
  display: none;
  //   margin-right: 10px;
  //   --color4: currentColor;
}
