/* секция герой */
.hero {
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;

  background-color: $hero-bg-color;
  background-image: linear-gradient($hero-overlay-color, $hero-overlay-color),
    url(../images/hero/hero-480.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  text-align: center;

  @include retina() {
    background-image: linear-gradient($hero-overlay-color, $hero-overlay-color),
      url(../images/hero/hero-480@2x.jpg);
  }

  @include min-media(($mobile + 1px)) {
    max-width: 768px;
    background-image: linear-gradient($hero-overlay-color, $hero-overlay-color),
      url(../images/hero/hero-768.jpg);

    @include retina() {
      background-image: linear-gradient($hero-overlay-color, $hero-overlay-color),
        url(../images/hero/hero-768@2x.jpg);
    }
  }

  @include min-media(($tablet + 1px)) {
    max-width: 1600px;
    background-image: linear-gradient($hero-overlay-color, $hero-overlay-color),
      url(../images/hero/hero-1600.jpg);

    @include retina() {
      background-image: linear-gradient($hero-overlay-color, $hero-overlay-color),
        url(../images/hero/hero-1600@2x.jpg);
    }
  }

  @include min-media($desktop) {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__title {
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  @include font(26px, 42px, 0.06em, 900);
  text-transform: uppercase;
  color: $primary-color;

  @include min-media($desktop) {
    max-width: 696px;
    @include font(44px, 60px);
  }

  @include max-media(430px) {
    font-size: 6vw;
  }
}

.hero__btn {
  margin-left: auto;
  margin-right: auto;
}
