/* секция наша команда */
.team {
  text-align: center;
  background-color: $secondary-bg-color;
}

.team__title {
  margin-bottom: 30px;
  // margin-bottom: 50px;
}

.team .social-list__link {
  color: $icon-color;
  transition: background-color 250ms $primary-cubic-bezier, color 250ms $primary-cubic-bezier;
  &:hover,
  &:focus {
    color: $primary-color;
    background-color: $activated-color;
    border-radius: 50%;
  }
}
