.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: $modal-overlay;
  opacity: 1;
  visibility: visible;
  transition: opacity 500ms $primary-cubic-bezier, visibility 500ms $primary-cubic-bezier;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  padding: 40px;
  width: 100%;
  max-width: 450px;
  min-width: $min-width;
  background-color: $primary-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms $primary-cubic-bezier;
  .backdrop.is-hidden & {
    transform: translate(-50%, -50%) scale(1.1);
  }

  @include min-media($desktop) {
    max-width: 528px;
  }
}

.modal__title {
  margin-bottom: 12px;
  @include font(20px, 30px, null, 700);
  text-align: center;
  color: $title-text-color;
}

.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  @include flex-position();
  width: 30px;
  height: 30px;
  color: #000000;
  background-color: $primary-color;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;

  &:hover,
  &:focus {
    color: $activated-color;
    transition: color 250ms $primary-cubic-bezier;
  }
}

.modal__icon-close {
  fill: currentColor;
}
