/* Список соц.сетей */
.social-list {
  @include list(flex);
}

.social-list__item {
  &:not(:first-child) {
    margin-left: 10px;
  }
}

.social-list__icon {
  --color3: currentColor;
}

.social-list__link {
  @include link(null);
  @include flex-position();
  width: 44px;
  height: 44px;
  border-radius: 50%;
}
