$activated-color: #2196f3;
$general-text-color: #757575;
$title-text-color: #212121;
$primary-color: #ffffff;
$contact-text-color: rgba(255, 255, 255, 0.6);
$footer-bg-color: #2f303a;
$hero-bg-color: #c4c4c4;
$hero-overlay-color: rgba(47, 48, 58, 0.4);
$secondary-bg-color: #f5f4fa;
$button-hover-color: #188ce8;
$icon-color: #afb1b8;
$modal-overlay: rgba(0, 0, 0, 0.2);
$font-primary: Roboto, sans-serif;
$font-secondary: Raleway, sans-serif;
$primary-cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
