/* контакты в footer */
.address {
  font-style: inherit;
}

.address__list {
  @include list();
}

.address__item {
  &:not(:last-child) {
    margin-bottom: 8px;
  }

  @include min-media($desktop) {
    &:not(:last-child) {
      margin-bottom: 9px;
    }
  }
}

.address__link {
  @include link(null);
  color: $contact-text-color;
  transition: color 250ms $primary-cubic-bezier;
  &--address {
    color: inherit;
  }
  &:hover,
  &:focus {
    color: $activated-color;
  }
}
