// .navigation {
//   @include font(null, 500, 40px, 47px, 0.02em);
// }

.navigation__list {
  @include list();
  //   @extend %header-list;
}

.navigation__item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

// .navigation__item:not(:first-child) {
//   margin-left: 50px;
// }

.navigation__link {
  @include font(null, 500, 40px, 47px, 0.02em);
  @include link(null, inline-block);
  //   @extend %header-link;
  //   position: relative;
  color: $title-text-color;
  transition: color 250ms $primary-cubic-bezier;
  &:hover,
  &:focus {
    color: $activated-color;
  }
}

// .navigation__link--active {
//   color: $activated-color;
//   &::after {
//     content: '';
//     position: absolute;
//     left: 0;
//     bottom: -1px;
//     width: 100%;
//     height: 4px;
//     border-radius: 2px;
//     background-color: $activated-color;
//   }
// }
