.agreement {
  position: relative;
  display: block;
  margin-bottom: 30px;
}

.agreement__icon,
.agreement__check {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);

  @include min-media($desktop) {
    left: 12px;
  }
}

.agreement__icon {
  width: 16px;
  height: 15px;
  border: 2px solid $title-text-color;
  border-radius: 2px;
  z-index: 2;
  transition: border-color 250ms $primary-cubic-bezier;
  .agreement__input:checked + & {
    border-color: $activated-color;
  }
  .agreement__input:checked:focus + &,
  .agreement:hover .agreement__input:checked + & {
    outline: 1px dotted $title-text-color;
  }
  .agreement__input:not(:checked):focus + &,
  .agreement:hover .agreement__input:not(:checked) + & {
    outline: 1px solid $activated-color;
  }
}

.agreement__check {
  --color1: currentColor;
  opacity: 0;
  transition: opacity 250ms $primary-cubic-bezier, color 250ms $primary-cubic-bezier;
  .agreement__input:checked ~ & {
    opacity: 1;
    color: $activated-color;
  }
}

.agreement__text {
  display: block;
  margin-left: 24px;
  @include font(12px, 14px);

  @include min-media($desktop) {
    @include font(14px, 24px);
    margin-left: 40px;
  }
}

.agreement__link {
  @include font(inherit, inherit);
  color: $activated-color;
}
