/* Секция преимуществ */
.advantage__list {
  @extend %list;
  display: flex;
  margin-left: -30px;
}

.advantage__item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
}

.advantage__title {
  @extend %font-uppercase;
  margin-bottom: 10px;
  font-size: inherit;
  color: $title-text-color;
}

.advantage__icon--bg {
  display: flex;
  height: 120px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
  background-color: $secondary-bg-color;
  border-radius: 4px;
}
