/* -------footer CSS */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  color: $primary-color;
  background-color: $footer-bg-color;
}

.footer__container {
  display: flex;
  align-items: baseline;
}

/* логотип в footer */
.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
  color: inherit;
}

.footer__social {
  margin-left: 70px;
}

.footer__title {
  @extend %font-uppercase;
  margin-bottom: 20px;
}

.footer .social-list__link {
  color: inherit;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms $primary-cubic-bezier;
  &:hover,
  &:focus {
    background-color: $activated-color;
    border-radius: 50%;
  }
}

.footer__newsletter {
  margin-left: auto;
}
