@mixin link($p: null, $b: block, $td: none) {
  display: $b;
  padding-top: $p;
  padding-bottom: $p;
  text-decoration: $td;
}

@mixin list($d: null, $ls: none) {
  display: $d;
  list-style: $ls;
}

@mixin flex-position($d: flex, $ai: center, $jc: center) {
  display: $d;
  align-items: $ai;
  justify-content: $jc;
}

@mixin font($ff: inherit, $fw: inherit, $fs: inherit, $lh: inherit, $ls: inherit) {
  font-family: $ff;
  font-weight: $fw;
  font-size: $fs;
  line-height: ($lh / $fs);
  letter-spacing: $ls;
}
